#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;

    & main {
        padding: 4rem;
        overflow: auto;

        & .main-container {
            max-width: 33rem;
            margin-left: auto;
        }

        & .back {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-bottom: 1.5rem;
        }

        & h1 {
            margin-bottom: .5rem;
            font: 600 1.5rem/1.5 var(--font-family);
        }
    }

    & aside {
        padding: 4rem;
        background: var(--surface-secondary);

    }
}